<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>dpaste: {% block title %}snippets{% endblock %}</title>
    <link rel="stylesheet" media="screen, projection" href="{{ STATIC_URL }}theme.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="/js/codemirror.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/searchcursor.js"></script>
    <script src="/js/dialog.js"></script>
    <link rel="stylesheet" href="/css/codemirror.css">
    <link rel="stylesheet" href="/css/dialog.css">
    {% block extrahead %}{% endblock %}
</head>
<body>

<div id="header">
    {% block headline %}{% endblock %}
</div>

<div id="sidebar">
    {% block sidebar %}{% endblock %}
</div>


<div id="content">
    {% block content %}{% endblock %}
</div>
<div id="footer">
    <a href="{% url snippet_userlist %}?next={{ request.build_absolute_url }}">List</a>
    <a href="{% url snippet_userprefs %}?next={{ request.build_absolute_url }}">Settings</a>
    {# <a href="{% url about %}">About</a> #}
</div>

{% block script_footer %}{% endblock %}

</body>
</html>
