{% extends "dpaste/base.html" %}
{% load i18n %}

{% block title %}{% trans "Snippet" %} #{{ snippet.pk }}{% endblock %}
{% block headline %}
<h1>{% blocktrans %}Your snippets{% endblocktrans %}</h1>
{% endblock %}

{% block content %}
    {% if snippet_list %}
    <ul>
    {% for snippet in snippet_list %}
    <li>
        <a href="{{ snippet.get_absolute_url }}">{% trans "Snippet" %} {{ snippet.title }}</a>
    </li>
    {% endfor %}
</ul>
    {% else %}
    <p>{% trans "No snippets available." %}</p>
    {% endif %}


    <div class="hint">
        {% trans "DATA_STORED_IN_A_COOKIE_HINT" %}
    </div>
{% endblock %}
